.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.left_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 20px;
  gap: 20px;
}

.left_container h2 {
  font-weight: 700;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
}

.left_container hr {
  border: none;
  width: 120px;
  background-color: white;
  height: 5px;
  border-radius: 10px;
}

.contact_input {
  width: 400px;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  background: white;
  color: white;
  font-weight: 600;
}

.left_container textarea {
  height: 140px;
  width: 400px;
  border: 0;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  background: white;
  color: #666;
  font-weight: 600;
}

.left_container button {
  border: 0;
  outline: 0;
  background: linear-gradient(#ff994f, #fabd86);
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 50px;
}

.contact_input:focus,
textarea:focus {
  border: 2px solid;
}

.left_container button:hover {
  filter: brightness((120%));
  font-weight: 600;
}
